@charset "UTF-8";

#worksContainar {
  margin-bottom: 5%;
}

.worksList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(1.2rem, 2vw, 2.4rem);
  margin: clamp(15rem, 8vh, 10%) clamp(1.6rem, 5%, 5%) 5%;
}

.worksItem {
  margin: 0;
  padding: clamp(1rem, 2.4%, 3%);
  flex: 1 1 clamp(30rem, 46%, 48%);
  max-width: 48%;
  box-shadow: 0 0.2rem 0.3rem #0a0a0a4d;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
  text-align: left;
}
.worksItem:hover {
  box-shadow: 0 0.4rem 0.9rem #0a0a0a4d;
}

.worksImg {
  margin: 0 auto;
  width: 100%;
}
.worksImg.works-popup {
  animation: img-popUp 0.5s ease forwards;
}
@keyframes img-popUp {
  0% {
    transform: scale(1, 1);
  }
  35% {
    transform: scale(0.99, 1.06);
    box-shadow: 0.9rem 0.9rem 1rem rgb(14, 13, 13);
  }
  70% {
    transform: scale(1.06, 0.99);
    box-shadow: 0.9rem 0.9rem 1rem rgb(14, 13, 13);
  }
  100% {
    transform: scale(1.05, 1.05);
    box-shadow: 1.6rem 1.6rem 1.3rem rgb(14, 13, 13);
  }
}
.worksImg.works-popdown {
  animation: img-popDown 0.5s ease forwards;
}
@keyframes img-popDown {
  0% {
    transform: scale(1.05, 1.05);
    box-shadow: 1.6rem 1.6rem 1.3rem #0e0d0d;
  }
  100% {
    transform: scale(1, 1);
  }
}

.worksTitleLink {
  margin-top: 5%;
  text-align: center;
}

.worksHeading {
  margin: 0 auto;
  width: clamp(12rem, 30%, 32rem);
  font-size: clamp(1.4rem, 1.1rem + 0.6vw, 1.8rem);
  border-bottom: 0.2rem solid #818181;
}

.worksTitleChild {
  margin-top: 0.5%;
  font-size: clamp(1.2rem, 1rem + 0.4vw, 1.4rem);
}

@media (max-width: 768px) {
  .worksItem {
    flex: 1 1 48%;
    max-width: 48%;
  }

  .worksHeading {
    width: 60%;
  }
}

@media (max-width: 560px) {
  .worksItem {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .worksList {
    margin-top: 4rem;
  }

  .worksHeading {
    width: 80%;
  }
}
